/**
  * @name Perfect Dark
  * @author Unique Bots 
  * @authorId 212580922623655936
  * @version 1
  * @description Perfect Dark is just for your needs
  * @website https://teamwrath.xyz
*/

/*
--custom-bg: #6d2eff;
--custom-bg-90: #6d2eff90;
--custom-bg-shadow: #6d2eff50;
*/

:root {
  --dark-bg: #101015;
  --secondary-dark-bg: #141419;
  --custom-bg: #6d2eff;
  --custom-bg-90: #6d2eff90;
  --custom-bg-shadow: #6d2eff50;
  --whiteTextColor: white;
  --blackTextColor: black;
}

/* Title Bar */
.typeWindows-2-g3UY{ 
    background-color: var(--dark-bg);
    padding: 15px 10px;
}
.wordmarkWindows-2dq6rw::before{
    position: absolute;
    top: 7px;
    left: 10px;
    content: '';
    padding: 6px 28px;
    background-color: var(--dark-bg);
}
.wordmarkWindows-2dq6rw::after{
    z-index: 3;
    position: absolute;
    left: 10px;
    top: 20px;
    content: 'Perfect Dark: By Unique Bots';
    color: white;
    width: 500px;
    font-size: 18px;
}
.winButton-3UMjdg{
    position: relative;
    right: -10px;
}
.winButtonClose-3Q8ZH5,
.winButtonMinMax-3RsPUg{
    position: relative;
    top: -15px;
    height: 50px;
    width: 40px;
}
.winButtonClose-3Q8ZH5:hover,
.winButtonMinMax-3RsPUg:hover{
    background-color: var(--custom-bg);
}


/* Scroller Bar Section */
.scroller-kQBbkU::-webkit-scrollbar-track, 
.contentRegionScroller-2_GT_N::-webkit-scrollbar-track{
    background-color: var(--dark-bg);
}
.scroller-kQBbkU{
    background: var(--dark-bg);
}
.scroller-kQBbkU::-webkit-scrollbar-thumb,
.scroller-2MALzE::-webkit-scrollbar-thumb,
.members-3WRCEx::-webkit-scrollbar-thumb{
    background-color: var(--custom-bg);
}
.contentRegionScroller-2_GT_N::-webkit-scrollbar-thumb,
.sidebarRegionScroller-FXiQOh::-webkit-scrollbar-thumb,
.body-2wLx-E::-webkit-scrollbar-thumb,
.scroller-1ox3I2::-webkit-scrollbar-thumb{
    background-color: var(--custom-bg);
}
.contentRegionScroller-2_GT_N{
    background-color: var(--dark-bg);
}
.sidebarRegionScroller-FXiQOh,
.scroller-1ox3I2{
    background-color: var(--secondary-dark-bg);
}
.scroller-1ox3I2::-webkit-scrollbar-track{
    background-color: var(--secondary-dark-bg);
}
.scrollerInner-2PPAp2{
    background-color: var(--dark-bg);
}


/* My Account Section */
.sectionTitle-3j2YI1{
    display: none;
}
.accountProfileCard-lbN7n-,
.background-3d_SjE{
    border-radius: 0;
}
.accountProfileCard-lbN7n-{
    background-color: var(--secondary-dark-bg);
}
.background-3d_SjE,
.fieldList-in8WkP{
    background: transparent;
}
.avatar-3mTjvZ{
    border: none;
}
.divider-_0um2u,
.separator-2wx7h6,
.premiumLabel-V52REm svg,
.iconLayout-3Bjizv{
    display: none;
}
.colorLink-1Md3RZ{
    color: red;
}
.header-2Kx1US{
    color: var(--custom-bg);
    margin-top: 5px;
    margin-bottom: 15px;
}
.container-O54IuJ > .keybind-13vtq8{
    position: absolute;
    top: -30px;
}
.container-O54IuJ > .closeButton-PCZcma{
    border-radius: 0;
    border: none;
    background-color: var(--custom-bg);
}
.container-O54IuJ > .closeButton-PCZcma:hover{
    border-radius: 0;
    border: none;
    background-color: var(--custom-bg-90);
}
.userInfo-regn9W > .button-f2h6uQ{
    background: var(--custom-bg);
}
.userInfo-regn9W > .button-f2h6uQ:hover{
    background: var(--custom-bg-90);
}
.field-21XZwa > .button-f2h6uQ{
    background-color: var(--custom-bg) !important;
}
.field-21XZwa > .button-f2h6uQ:hover{
    background-color: var(--custom-bg-90) !important;
}
.fieldButtonList-28BYbB > .fieldButton-14lHvK{
    background-color: var(--custom-bg) !important;
}
.fieldButtonList-28BYbB > .fieldButton-14lHvK:hover{
    background-color: var(--custom-bg-90) !important;
}
.fieldButtonList-28BYbB > .removeButton-v6eolJ{
    background: transparent !important;
}
.children-1xdcWE > div > .button-f2h6uQ{
    background-color: var(--custom-bg);
}
.children-1xdcWE > div > .button-f2h6uQ:hover{
    background-color: var(--custom-bg-90);
}
.flexChild-3PzYmX > .colorBrand-I6CyqQ{
    background-color: var(--custom-bg);
}
.flexChild-3PzYmX > .colorBrand-I6CyqQ:hover{
    background-color: var(--custom-bg-90);
}
.buttonContainer-cmXa0P > .disableButton-3BR0Vj{
    background-color: var(--custom-bg);
}
.flex-2S1XBF > .colorRed-rQXKgM{
    background: transparent !important;
}
.buttonContainer-cmXa0P > .lookOutlined-3yKVGo{
    background: transparent !important;
}


/* User Profile Section */
.popoutInfo-16MuYF,
.headerTop-3GPUSF{
    background-color: var(--secondary-dark-bg);
}


/* Profile Section */
.body-2wLx-E,
.activityUserPopout-2MzGCj,
.bodyTitle-2Az3VQ,
.bodyTitle-2Az3VQ,
.note-Go5ZP2,
.root-jbEB5E,
.footer-3naVBw{
    margin: 0;
    padding: 10px 5px;
    background-color: var(--secondary-dark-bg);
}
.role-2TIOKu {
    background-color: var(--dark-bg);
    padding: 15px 10px;
}
.container-2O1UgZ{
    background-color: var(--dark-bg);
    border-radius: 0;
}
.container-2oNtJn{
    background-color: var(--secondary-dark-bg);
    border-radius: 0;
}
.aboutMeSection-PUghFQ{
    padding: 0 5px;
}
.headerTagNoNickname-3tGHj6{
    position: absolute;
    left: 10px;
    top: 50px;
    padding: 0;
}



/* Message Field Section */
.form-3gdLxP{
    background: var(--dark-bg);
    padding-bottom: 15px;
}
.form-3gdLxP::before{
    display: none;
}
.channelTextArea-1FufC0{
    background: var(--secondary-dark-bg);
}
.channelTextArea-1FufC0 > .scrollableContainer-15eg7h{
    background-color: var(--secondary-dark-bg);
    padding: 5px 5px;
    margin: 15px 0;
    margin-bottom: -10px;
    border-radius: 0;
    box-shadow: 0 7px 10px var(--custom-bg-90);
}
.scroller-1bVxF5{
    border-radius: 0;
    background-color: var(--secondary-dark-bg);
}
.item-1OdjEX:hover{
    background-color: var(--custom-bg);
}
.separator-3ng7S5::before{
    display: none;
}
.sendIcon-1HcEzu{
    color: var(--custom-bg);
}
.button-f2h6uQ,
.item-1OdjEX{
    border-radius: 0;
}
.item-1OdjEX{
    padding: 10px 10px;
}
.wrapper-2vIMkT{
    border-radius: 0;
    background-color: var(--secondary-dark-bg);
}
.scroller-1bVxF5{
    border: 2px solid var(--secondary-dark-bg);
    background-color: var(--dark-bg);
}
.repliedMessage-3Z6XBG::before{
    border-top: 3px solid var(--custom-bg);
    border-left: 3px solid var(--custom-bg);
}
.mentioned-Tre-dv,
.mentioned-Tre-dv:hover,
.mentioned-Tre-dv::before{
    background-color: var(--custom-bg-90);
}
.mentioned-Tre-dv::before{
    padding-right: 3px;
    background-color: var(--custom-bg);
}
.messageListItem-ZZ7v6g:hover,
.mentioned-Tre-dv:hover,
.buttonContainer-1502pf{
    background-color: var(dark-bg2);
}
.jumpToPresentBar-1cEnH0{
    position: absolute;
    bottom: 25px;
    background-color: var(--secondary-dark-bg);
    box-shadow: 0 5px 5px var(--custom-bg-90);
    border-radius: 0;
    padding: 10px 20px;
}
.newMessagesBar-1hF-9G{
    position: absolute;
    top: 15px;
    background-color: var(--secondary-dark-bg);
    box-shadow: 0 5px 5px var(--custom-bg-90);
    border-radius: 0;
    padding: 10px 25px;
}
.upload-3GTSF9{
    background-color: var(--dark-bg);
}
pre > .scrollbarGhostHairline-2LpzZ9{
    background-color: var(--secondary-dark-bg);
}
/* Message Nitro Gift Button */
.buttons-uaqb-5 > .button-f2h6uQ:not(.BD-TeX-plugin-button) > :not(.quickToggleButton-P2xDh8){
    display: none;
}

/* Emoji Menu */
.navButtonActive-1EqC5l{
    background-color: var(--custom-bg);
    padding: 5px 10px;
}
.navButton-1XuvI-{
    position: relative;
    top: -7px;
}
.emojiPicker-6YCk8a,
.contentWrapper-3vHNP2{
    border-radius: 0;
}
.contentWrapper-3vHNP2,
.nav-1zWVQw,
.wrapper-1NNaWG{
    background-color: var(--secondary-dark-bg);
}
.wrapper-22rqw6,
.inspector-DFKXwB,
.header-11eigE{
    background-color: var(--dark-bg);
}
.searchBar-2M9mRP{
    margin-top: 15px;
}
.emojiPickerListWrapper-1T3YI3,
.header-1ULbqO,
.inner-1NoIT5,
.diversitySelectorOptions-3DhNYs{
    background-color: var(--secondary-dark-bg);
}
.headerLabel-1g790w,
.arrow-2HswgU,
.headerIcon-2Gk2OH svg{
    color: var(--custom-bg);
}
.iconLayout-SqV3nb{
    display: none;
}


/* Side Server Menu */
.guildSeparator-a4uisj{
    display: none;
}
.scroller-3X7KbA{
    background-color: var(--dark-bg);
}
.unreadMentionsBar-ZXXoOH,
.unreadBar-elBRZx, 
.mention-3XBnnZ{
    background-color: var(--custom-bg);
    border-radius: 0;
}
.childWrapper-1j_1ub{
    background-color: var(--custom-bg);
}
.expandedFolderBackground-1kSAf6{
    background-color: var(--secondary-dark-bg);
}
.folder-241Joy,
.folder-241Joy:hover{
    background-color: var(--custom-bg);
}
.circleIconButton-1VxDrg,
.circleIconButton-1VxDrg:hover,
.circleIconButton-1VxDrg:active{
    background-color: var(--secondary-dark-bg);
}
.circleIcon-3489FI{
    color: white;
}
.item-2LIpTv{
    background-color: var(--custom-bg);
}


/* Side Channel Menu */
.children-3xh0VB,
.toolbar-3_r2xA,
.themed-Hp1KC_{
    background-color: var(--secondary-dark-bg);
    padding: 12px 0;
}
.content-2a4AW9{
    position: relative;
}
.sidebar-1tnWFu{
    background-color: var(--secondary-dark-bg);
}
.header-3OsQeK, .header-3OsQeK:hover{
    background-color: var(--secondary-dark-bg);
}
.name-3BUDLf{
    color: var(--custom-bg);
}
.content-1gYQeQ{
    border-radius: 0;
}
.mainContent-20q_Hp{
    padding: 7px 0;
}
.children-1MGS9G{
    padding: 0 7px;
}
.animatedContainer-2laTjx{
    z-index: 2;
}
.addButtonIcon-3rJeaD{
    color: var(--custom-bg);
}
.divider-q3P9HC{
    background: transparent;
}
.flowerStar-2tNFCR{
    color: var(--custom-bg);
}
.spine-29OFwR{
    color: var(--custom-bg);
}


/* Search Bar Menu */
.searchBar-zdmu7v{
    display: none;
}


/* Threads Menu */
.browser-mnQ1T7{
    border-radius: 0;
    box-shadow: 0 5px 10px 0 var(--custom-bg-shadow);
}
.list-1uSVgu{
    background-color: var(--secondary-dark-bg);
}
.sectionHeader-2czRMk,
.threadIcon-rd1kqG,
.title-10Au0i{
    color: var(--custom-bg);
}
.title-10Au0i{
    position: relative;
    top: 2px;
}
.iconContainer-3XSL3J{
    display: none;
}
.container-2rzKKA{
    background-color: var(--dark-bg);
    border: none;
}
.divider-1X10dJ,
.divider-2xk5N2{
    display: none;
}
.searchIcon-zpxirk{
    display: none;
}
.cta-35vqLn{
    background-color: var(--custom-bg);
}

/* Server List Menu */
.membersGroup-2eiWxl{
    color: var(--custom-bg);
    margin-bottom: 10px;
}
.members-3WRCEx,
.members-3WRCEx > div {
    background-color: var(--secondary-dark-bg) !important;
}


/* Forgot What These Are */
.container-YkUktl{
    background-color: var(--dark-bg);
}


/* Themes Section */
.bd-settings-title{
    text-transform: uppercase;
}
.bd-settings-title::before{
    content: 'These are your '
}
.bd-settings-title::after{
    content: ' boi'
}
.bd-button-title{
    background-color: var(--custom-bg);
    position: absolute;
    padding: 10px 20px;
    border-radius: 0;
    right: 40px;
    top: 50px;
}
.bd-button:hover{
    background-color: var(--secondary-dark-bg);
    text-decoration: underline;
}
.bd-view-button{
    background-color: var(--custom-bg);
}
.bd-description-wrap,
.bd-footer{
    background-color: var(--secondary-dark-bg);
}
.bd-switch-body{
    background-color: var(--custom-bg);
}
.bd-search-wrapper,
.bd-controls-advanced{
    display: none;
}


/* User Profile Section */
.customizationSection-IGy2fS > .title-3hptVQ{
    color: var(--custom-bg);
    font-weight: 800;
    letter-spacing: .5px;
}
.buttonsContainer-12kYno > .button-f2h6uQ{
    background-color: var(--custom-bg);
}
.buttonsContainer-12kYno > .button-f2h6uQ:hover{
    background-color: var(--custom-bg-90);
}
.buttonsContainer-12kYno > .removeButton-1xB_Ez{
    background: transparent;
}
.buttonsContainer-12kYno > .removeButton-1xB_Ez:hover{
    background: transparent;
}
.buttonsContainer-5mLFN9 > .button-f2h6uQ{
    background-color: var(--custom-bg);
}
.buttonsContainer-5mLFN9 > .button-f2h6uQ:hover{
    background-color: var(--custom-bg-90);
}
.buttonsContainer-5mLFN9 > .removeButton-3KRYAO{
    background: transparent;
}
.buttonsContainer-5mLFN9 > .removeButton-3KRYAO:hover{
    background: transparent;
}
.divider-ogkn3u{
    display: none;
}
.customizationSection-IGy2fS{
    border-bottom: none;
}
.fakeActivityLayout-2kcbMs,
.fakeActivityTitle-3-_pB_{
    display: none;
}