/**
  * @name Perfect Dark
  * @author Unique Bots 
  * @authorId 212580922623655936
  * @version 1
  * @description Perfect Dark is just for your needs
  * @website https://teamwrath.xyz
*/

@import url(https://uniquebots.github.io/Perfect-Dark/Perfect-Dark-Main-Code);

:root {
  --dark-bg: #101015;
  --secondary-dark-bg: #141419;
  --custom-bg: #6d2eff;
  --custom-bg-90: #6d2eff90;
  --custom-bg-shadow: #6d2eff50;
  --whiteTextColor: white;
  --blackTextColor: black;
}
